/* The entire screen overlay background */
window {
    background-color: #0f1416cc; /* 80% opacity matching Zed/Kitty */
    transition: all 0.2s ease-in-out;
}

/* Base button styling - completely sharp-edged with no borders */
button {
    border: none;
    border-radius: 0px;
    box-shadow: none; /* Strips any default GTK/Libadwaita button shadows */
    background-color: #373c3f;
    color: #ffffff;
    transition: all 0.15s ease-in-out;
}

/* Hover & Active States */
button:hover {
    background-color: #84cde7;
    color: #000000;
}

button:active {
    background-color: #afc6d0;
}

/* Shutdown highlight override */
#shutdown:hover {
    background-color: #ffaea4;
    color: #000000;
}
