/* The SwayOSD window container */
window#osd {
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid #f3f0de; /* Using your outline color for a clean border */
    background: #14140c;       /* Dark grey background matching kitty */
}

/* Brightness/Volume Icons and Text Strings */
image,
label {
    color: #ffffff;        /* High-contrast text/icon color */
}

/* The empty/unfilled container slot of the progress bar */
progressbar trough {
    min-height: 6px;
    border-radius: 999px;
    background: #3c3c33; /* Slightly lighter grey for the track */
}

/* The active, filled section of the progress bar */
progressbar progress {
    border-radius: 999px;
    background: #f4f59c;       /* Vibrant accent color for the actual volume/brightness level */
}
