/* The SwayOSD window container */
window#osd {
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid #ebf0f8; /* Using your outline color for a clean border */
    background: #101417;       /* Dark grey background matching kitty */
}

/* Brightness/Volume Icons and Text Strings */
image,
label {
    color: #ffffff;        /* High-contrast text/icon color */
}

/* The empty/unfilled container slot of the progress bar */
progressbar trough {
    min-height: 6px;
    border-radius: 999px;
    background: #383c40; /* Slightly lighter grey for the track */
}

/* The active, filled section of the progress bar */
progressbar progress {
    border-radius: 999px;
    background: #e4f1ff;       /* Vibrant accent color for the actual volume/brightness level */
}
